body {
    font-family: "Plus Jakarta Sabs" !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;
}

body{
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Navbar */
.navbar {
    z-index: 1000;
    background-color: white;
}

.navbar-collapse {
    background-color: white;
}

.fa-neos {
    color: red;
    font-size: 2rem;
}
.navbar-btn {
    height: 2.7rem;
    margin-left: 0.5rem;
}

.navbar-btn:hover {
    border-radius: 20px;
}

.fa-compass{
    color: red;
    font-size: 2rem;
    background-color: #fff;
}

.nav-link{
    color: #222222 !important;
}

.f-info-links a{
    text-decoration:  none;
    color: #222222;
}

.f-info-links a :hover{
    text-decoration:  underline;
}

.f-info-links{
    width: 100%;
}

.f-info-socials{
    width: 100%;
    font-size: 1.3rem;
    margin-right: 1rem;
}
.f-info-socials i {
    margin-right: 1.1rem;
}

.f-info{
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
    text-align: center;

}

/* Footer */
.f-info-links a {
    text-decoration: none;
    color: #222222;
}

.f-info-links a:hover {
    text-decoration: underline;
}

.f-info-links,
.f-info-socials,
.f-info-brand {
    width: 100%;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
}

.f-info-socials i {
    font-size: 1.2rem;
    color: #222222;
}

.f-info {
    display: flex;
    background-color: #ebebeb;
    height: 8rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
    text-align: center;
}

/* Cards */
.listing-card {
    margin-bottom: 2rem;
    border: none !important;
}

.card-img-top {
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover;
}

.card-body {
    padding: 0 !important;
}

.card-text p {
    font-weight: 400;
}

.listing-link {
    text-decoration: none;
}

/* Card Effect */
.card-img-overlay {
    opacity: 0;
}

.card-img-overlay:hover {
    opacity: 0.2;
    background-color: white;
}

/* New Page */
.add-btn {
    background-color: red !important;
    border: none !important;
}

/* Edit Page */
.edit-btn {
    background-color: red !important;
    border: none !important;
}

/* Show Page */
.show-img {
    height: 30vh;
}

.btns {
    display: flex;
}

.show-card {
    padding-left: 0;
    padding-right: 0;
}

.card-text {
    color: black;
}


/* Map */
#map {
    width: 80vh;
    height: 400px;
}

.filter-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

#filters {
    display: flex;
    gap: 1rem;
    overflow-x: auto;
    padding: 1rem 3rem;
    scroll-behavior: smooth;
}

#filters::-webkit-scrollbar {
    display: none;
}

.filter {
    min-width: 90px;
    height: 90px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-decoration: none;
    color: black;

    /* Glass effect */
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.3);

    box-shadow: 0 6px 10px rgba(0,0,0,0.1);

    font-size: 0.7rem;

    transition: all 0.3s ease;
    cursor: pointer;
}

.filter i {
    font-size: 1.2rem;
    margin-bottom: 5px;
}


.filter:hover {
    transform: translateY(-5px) scale(1.05);
    opacity: 1;
    box-shadow:
        0 0 5px #00f7ff,
        0 0 10px #00f7ff,
        0 0 20px #00f7ff;
}

.filter.active {
    border: 2px solid #00f7ff;
    box-shadow:
        0 0 5px #00f7ff,
        0 0 15px #00f7ff;
}

.scroll-btn {
    position: absolute;
    z-index: 10;
    height: 40px;
    width: 40px;
    border: none;
    border-radius: 50%;

    cursor: pointer;
    font-size: 18px;

    background: white;
    color: black;

    box-shadow: 0 4px 10px rgba(0,0,0,0.2);

    transition: 0.3s;
}

.scroll-btn:hover {
    transform: scale(1.1);
    background: #f1f1f1;
}

.scroll-btn.left {
    left: 0;
}

.scroll-btn.right {
    right: 0;
}

.tax-info{
    display: none;
}



@media (max-width: 768px) {
    .navbar form {
        width: 100%;
        margin-top: 10px;
    }

    .f-info {
        height: auto;
        padding: 1rem;
    }

    .f-info-socials {
        margin-bottom: 0.5rem;
    }
}

@media (max-width: 768px) {
    .starability-result {
        font-size: 0.8rem;
    }
}

.review-card {
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}